<!-- The above form looks like this -->
<form [formGroup]="form" (submit)="saveUser()">
    <div class="row">
      <!-- <div class="ten columns">
          <label for="nameInput">ID</label>
          <span>{{ this.form.get('id').value}}</span>
      </div> -->
      <div class="ten columns">
        <label for="nameInput">Name</label>
        <input formControlName="name" class="u-full-width" type="text" placeholder="Name Surname" id="nameInput">
      </div>
      <div class="two columns">
        <label for="ageInput">Age</label>
        <input formControlName="age" class="u-full-width" type="text" id="ageInput">
      </div>
    </div>
    <div class="row">
      <div class="two columns">
        <label for="sexInput">Sex</label>
        <select formControlName="sex" class="u-full-width" id="sexInput">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="ten columns">
          <label for="locationInput">Location</label>
          <input formControlName="location" class="u-full-width" type="text" placeholder="via paerozzo" id="locationInput">
      </div>
    </div>

    <div class="row">
      <label for="generalInfo">General Info</label>
      <textarea formControlName="generalInfo" class="u-full-width" placeholder="Hi I'm Dave …" id="generalInfo"></textarea>
    </div>

    <div class="row">
      <input class="button-primary" type="submit" value="Submit">
    </div>

</form>