<!-- The above form looks like this -->
<form>
  <span>HELLO</span>
    <div class="row">
      <div class="six columns">
        <label for="nameInput">Name</label>
        <input class="u-full-width" type="text" placeholder="Name Surname" id="nameInput">
      </div>
      <div class="two columns">
        <label for="ageInput">Age</label>
        <input class="u-full-width" type="text" id="ageInput">
      </div>
      <div class="two columns">
        <label for="sexInput">Sex</label>
        <select class="u-full-width" id="sexInput">
          <option value="Option 1">Male</option>
          <option value="Option 2">Female</option>
        </select>
      </div>
    </div>
    <div class="row">

    </div>
    <label for="generalInfo">General Info</label>
    <textarea class="u-full-width" placeholder="Hi I'm Dave …" id="generalInfo"></textarea>
    <label class="example-send-yourself-copy">
      <input type="checkbox">
      <span class="label-body">Send a copy to yourself</span>
    </label>
    <input class="button-primary" type="submit" value="Submit">
  </form>